<% include partials/header.ejs %>
<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>

<div class="container">
	<div class="row">


		<div class="btn-group-vertical col-sm">
			<% for(var i=0; i<(buttons.length/2); i++) { %>
				<button type="button" class="btn btn-success btn-lg" id="b<%=buttons[i].id %>"><%=buttons[i].name %> </button>
				</br>
			<% } %>
		</div>


		<div class="btn-group-vertical col-sm">
			<% for( i=(buttons.length/2); i<buttons.length; i++) { %>
				<button type="button" class="btn btn-success btn-lg" id="b<%=buttons[i].id %>"><%=buttons[i].name %> </button>
			</br>
			<% } %>
		</div>



</div>
</div>
<script>
	$('button').click( function() {
		//alert('Clicked button ' + this.id );
		if( $(this).hasClass('btn-danger') ) {
			$(this).removeClass('btn-danger');
			$(this).addClass('btn-success');
			//$(this).html("OFF");
		}
		else {
			$(this).removeClass('btn-success');
			$(this).addClass('btn-danger');
//$(this).html("ON");
		}
});

  var socket = io();
  socket.on('led', function(data) {
	console.log(data);

  });


</script>

<% include partials/footer.ejs %>
